* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background-color:rgb(243, 239, 235);
    width: 100%;
    height: auto;
}

.navbar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 3rem;
    font-weight:700;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
}

.logo {
    height: 3rem;
    background-color:rgb(186, 133, 235);
    border-radius: 6px;
    padding: 4px;
    margin: 2rem;
}

.about, .home, .rooms, .contact {
    font-size: 1.2rem;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image:url(../EgnaBilder/Mexico-Paradisus-Playa-del-Carmen.jpg);
    height: 35rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 2rem;
}

.background-text, .background-text2 { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 2rem;
    background-color:rgba(0, 0, 255, 0.13);
}

h1 {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
}

p {
    line-height: 1.5em;
}

.page-section {
    width: 100%;
    max-width: 700px;
    padding: 2rem;
    margin: 0 auto;
}

.wide-page-section {
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
    margin: 0 auto;
}

.playacarmen {
    font-size: 1.5rem;
    letter-spacing:0.1rem;
}

.blue-btn {
    height: 2rem;
    width: 6rem;
    background-color:purple;
    color: white;
    border: none;
    border-radius: 6px;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
}

.area-img {
    width: 20rem;

}
.area-wrapper {
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem;
    gap: 2rem;
}

.choose-date {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.submit {
    background-color: purple;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius:10px;

}

.rooms-wrapper {
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.choose-room {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 2rem;
    padding: 1rem;
}

.choose-room fieldset {
    border: 0;
}

.choose-room legend {
    margin-bottom: 2rem;
}

.choose-room div {
    display: flex;
    padding: 0.5rem 0;
}
.choose-room label {
    flex: 1;
    font-size: 1.2rem;
}
@media only screen and (min-width: 600px) {

}
    
.calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.calendar * {
    margin: .5rem 0;
}

.calendar-label {
    font-size: 2rem;
    font-weight: bold;
}

.calendar input {
    margin: 0.5rem 0 !important;
}


@media only screen and (min-width: 600px) {
.calender * {
    margin: 0 .5rem;
}
.calendar input {
    margin: 0 .5rem !important;
}
}


#check {
    height: 3rem;
    width: 19rem;
    margin: 2rem;
}

/***
Room Section
**/

#suite .room-bg-img {
    background-image:url(../EgnaBilder/suite.jpg);
}


#double .room-bg-img {
    background-image:url(../EgnaBilder/room1.jpg);
}


#superior .room-bg-img {
    background-image:url(../EgnaBilder/room4.jpg);
}

.room {
    margin-top: 2rem;
}

.room .room-bg-img {
    width: 100%;
    height: 12rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
}

.room .room-description h3 {
    margin-bottom: 1rem;
}

@media only screen and (min-width: 600px) {
    .room {
        justify-content: space-between;
        align-items: center;
       display: flex;
       flex-direction: row;

    }
    .room .room-description {
        text-align: center;
        width: 40%
    }
    .room .room-bg-img {
      height: 16rem;
        width: 40%;
        background-size: cover;
    }
}

.reserve, .swimup, .dinner, .pool, .poolbynight, .poolbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-nav {
    
    background-color: rgb(186, 133, 235);
}

.footer-nav a {
    display: block;
}

@media only screen and (min-width: 600px) {
    .footer-nav {
        font-size: 1.5rem;
        display: flex;
        justify-content: space-around;
        padding: 1rem;
        height: 4rem;
    }
    .footer-nav a {
        display: inline;
    }
}
 

.contact {
    margin-bottom: 5rem;
}

@media only screen and (min-width: 600px) {
    body {
        font-size: 14px;
     }
     .area-wrapper {
        grid-template-columns: repeat(3, 1fr);
     }

     .suite > div {
        flex: 1;
     }
     .suite, .double, .superior {
        flex-direction: row;
     }

     
}
        /* Adjust styles for smaller screens */
   
